@import 'tailwindcss';

@theme {
  --color-primary: #0F172A;
  --color-secondary: #8A2BE2;
  --color-tertiary: rgb(4 120 87);
  --color-neutral: #D4AF37;

  --animate-slide-right: slide-down 0.3s ease-out;
  @keyframes slide-down {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

